body {
  background: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
a,
a:visited,
a:hover {
  color: #1ba2f9;
  text-decoration: none;
  outline: none;
}
.no-touch a:hover {
  text-decoration: underline;
}
.ready {
  transition: opacity 1s;
  opacity: 1;
}

/* Logo */
.logo {
  display: inline-block;
  color: #1ba2f9;
  font-size: 3em;
  line-height: 1;
  font-weight: 300;
  text-decoration: none;
  white-space: nowrap;
  text-shadow: 1px 1px 4px #000;
}
.logo:visited {
  color: #1ba2f9;
}
.no-touch .logo:hover {
  text-decoration: none;
}
.logo em {
  font-size: 0.25em;
  font-weight: 600;
  vertical-align: top;
  margin-left: 3px;
  margin-top: 0.3em;
  display: inline-block;
  border: 2px solid;
  line-height: 1.5em;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}

/* Buttons */
.link-button {
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  padding: 1em;
  white-space: nowrap;
  -webkit-touch-callout: none;
  font-size: 1.2em;
  line-height: 1;
}
.link-button:visited,
.link-button:focus {
  color: #fff;
}
.no-touch .link-button:visited:hover,
.no-touch .link-button:hover,
.link-button:visited:active,
.link-button:active {
  color: #d6d6d6;
  border-color: #d6d6d6;
  text-decoration: none;
}
.cta {
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #1ba2f9;
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: 1em center;
  padding-left: 3em;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 300ms;
  transition-timing-function: cubic-bezier(0, 0.65, 0.47, 1.04);
}
.no-touch .cta:hover:before,
.cta:active:before {
  opacity: 0.4;
}
.cta.install-extension {
  background-image: url(../img/icons/chrome.svg);
}
.cta.open-app {
  background-image: url(../img/icons/phone.svg);
}
.cta.upgrade {
  background-color: rgb(131, 0, 52);
  background-image: url(../img/icons/shopping-cart.svg);
}

/* Actions */
.actions {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  right: 0;
  text-align: right;
  transition: font-size 300ms;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  white-space: nowrap;
  padding-right: 2vw;
  padding-left: 2vw;
}
.actions.is-maximized {
  padding-right: 5vw;
  padding-left: 5vw;
}
.actions a {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}
.actions a:not(:first-child) {
  margin-left: 0.5vh;
}
.actions.is-maximized a {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.actions.is-maximized a:not(:first-child) {
  margin-left: 1vh;
}
.actions.is-maximized {
  background: none;
  font-size: inherit;
}

/* Intro */
.intro {
  background: url(../img/netflix-back.jpg) no-repeat;
  background-position: left top;
  background-size: cover;
  height: 97vh;
  color: #fff;
  padding: 0;
}
.intro .logo {
  margin-bottom: 10vh;
}
.intro aside {
  position: relative;
  height: 100%;
  display: flex;
}
.intro .darken-bg {
  width: 400px;
  max-width: 70%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+45,000000+100&0.9+45,1+45,0+100 */
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.intro .vp {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.intro .vp .teaser {
  margin-left: 4vw;
}
.intro .vp h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-bottom: 0.5em;
  color: #fff;
  white-space: nowrap;
  text-shadow: 1px 1px 4px #000;
}
.intro .vp h2 {
  font-size: 1.7em;
  line-height: 1.5;
  margin: 0;
  color: #fff;
  font-weight: normal;
  text-shadow: 1px 1px 4px #000;
  margin-bottom: 1.5em;
}

.intro .subscribe {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  padding: 0 3vw;
  margin-right: 4vw;
}
.intro .subscribe .formkit-form {
  min-width: 50vw;
}

.intro .learn-more {
  color: #fff;
  padding: 15px 20px;
}
.intro .arrow-down {
  position: absolute;
  background: url(../img/arrows.svg) no-repeat;
  width: 4em;
  height: 4em;
  bottom: 3em;
  border: 0;
  outline: 0;
  left: 50%;
  margin-left: -2em;
}
.touch .intro .arrow-down {
  display: none;
}

.intro .mobile-hint {
  position: absolute;
  bottom: 4vh;
  margin: 0 3%;
}
.no-touch .intro .mobile-hint {
  display: none;
}

/* Phone frame */
.phone-frame {
  display: block;
  background: url(../img/phone-frame.png) no-repeat;
  background-size: 100% 100%;
  padding: 55px 15px;
}

/* Slideshow */
.slideshow {
  position: absolute;
  right: 5vw;
  top: 20%;
}
.slideshow .container {
  position: relative;
  width: 200px;
  height: 355px;
}
.slideshow .image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}
.slideshow .image.active {
  opacity: 1;
}
.slideshow .subtitles-expanded {
  background-image: url("../img/subtitles-expanded.png");
}
.slideshow .auth {
  background-image: url("../img/auth.png");
}
.slideshow .settings {
  background-image: url("../img/settings.png");
}

/* Supported services */
.supported-services {
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 90px 0 130px 0;
}
.supported-services h1 {
  margin-bottom: 100px;
}
.supported-services .image {
  display: inline-block;
  height: 100px;
  background: no-repeat center;
  background-size: contain;
  margin: 0 20px;
}
.supported-services .netflix {
  width: 150px;
}
.supported-services .amazon {
  width: 200px;
}
.supported-services .youtube {
  width: 180px;
}

/* Scroller */
.scroller {
  overflow-y: hidden;
  overflow-x: scroll;
  flex-grow: 1;
  position: relative;
  -webkit-overflow-scrolling: touch;
  /* IE */
  scrollbar-face-color: #000000;
  scrollbar-shadow-color: #2d2c4d;
  scrollbar-highlight-color: #7d7e94;
  scrollbar-3dlight-color: #7d7e94;
  scrollbar-darkshadow-color: #2d2c4d;
  scrollbar-track-color: #1a1a1a;
  scrollbar-arrow-color: #c1c1d1;
}
.scroller .scroll-container {
  height: 100%;
  overflow: hidden;
}
.scroller .next-button {
  width: 3em;
  height: 3em;
  align-self: center;
  background: no-repeat;
  background-size: contain;
  border: 0;
  outline: 0;
}
.touch .scroller .next-button {
  display: none;
}

/* Scroller nav */
.scroller-nav {
  text-align: center;
  margin: 20px 0 25px 0;
}
.scroller-nav a {
  display: inline-block;
  text-decoration: none;
}
.scroller-nav a:after {
  display: block;
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 10px;
}
.no-touch .scroller-nav a:hover:after,
.scroller-nav .selected:after {
  background: #fff;
}

/* University content */
.university-content {
  display: flex;
  justify-content: center;
  align-self: center;
}
.university-content h2 {
  margin: 0;
  line-height: 1;
  margin-bottom: 0.5em;
}
.university-content .descr {
  margin: 0 30px;
  max-width: 350px;
  font-size: 1.2em;
  line-height: 1.5;
}
.university-content ul {
  list-style-type: decimal;
  margin: 0;
  padding-left: 1em;
}
.university-content li {
  margin-bottom: 0.5em;
}

/* University */
.university {
  position: relative;
  background: #1a1a1a;
  display: flex;
  flex-flow: column;
  color: #fff;
}
.university .scroll-container {
  padding-bottom: 40px;
  display: flex;
  min-height: 300px;
}
.university > h1 {
  text-align: center;
}
.university .university-content {
  float: left;
  width: 100vw;
}
.university .illustration {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.university .portrait {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}
.university .landscape {
  margin-right: 20px;
}

/* How */
.university-how {
  background: #141414;
}
.university-how .scroll-container {
  width: 300vw;
}
.university-how .illustration.visual {
  width: 100px;
  height: 85px;
}
.university-how .illustration.translation {
  width: 85px;
  height: 85px;
}
.university-how .illustration.laughing {
  width: 85px;
  height: 85px;
}

/* Installation */
.university-installation .scroll-container {
  width: 400vw;
}
.university-installation .illustration.extension {
  width: 70px;
  height: 70px;
}
.university-installation .illustration.connect {
  width: 70px;
  height: 70px;
}
.university-installation .illustration.movie {
  width: 70px;
  height: 80px;
}
.university-installation .illustration.play {
  width: 80px;
  height: 80px;
}

/* Pricing */
.pricing {
  color: #fff;
  background: #141414;
  padding: 1em;
}
.pricing h1 {
  display: block;
  text-align: center;
}
.pricing .plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pricing article {
  padding: 2em;
  display: inline-block;
  flex-grow: 1;
  margin: 1em;
  max-width: 450px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.pricing article h2 {
  margin: 0;
}
.pricing article ul {
  padding: 0;
  margin: 2em 0;
}
.pricing article li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0.6em;
  font-size: 1.2em;
  display: flex;
}
.pricing article li::before {
  content: "✓";
  margin-right: 0.4em;
  color: #1ba2f9;
}
.pricing .upgrade {
}

/* Footer */
footer {
  padding: 50px 0;
  text-align: center;
  white-space: nowrap;
}
footer a {
  margin-right: 10px;
  color: #999;
  text-decoration: none;
}
footer a:last-child {
  margin: 0;
}
footer a:visited {
  color: #999;
}
footer a:hover {
  color: #999;
  text-decoration: underline;
}

/* IP 5*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  body {
    font-size: 12px;
  }
}
/* IP 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  body {
    font-size: 14px;
  }
}
/* IP 6plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .intro .learn-more,
  .slideshow,
  .university-content .landscape {
    display: none;
  }
  .university-content .portrait {
    display: block;
  }
  .university-content .descr {
    max-width: 70%;
  }
  .intro .vp {
    flex-direction: column;
    align-items: center;
  }
}

.ssk,
.ssk:visited {
  color: #fff;
}
.ssk-sticky {
  display: block;
}
.ssk-sticky.ssk-right.ssk-center {
  top: 50%;
  margin-top: -160px;
}
.formkit-powered-by-convertkit-container {
  display: none !important;
}
