body {
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Logo */
.logo {
  display: inline-block;
  color: #1BA2F9;
  font-size: 3em;
  line-height: 1;
  font-weight: 300;
}
.logo em {
  font-size: 0.25em;
  font-weight: 600;
  vertical-align: top;
  margin-left: 3px;
  margin-top: 0.3em;
  display: inline-block;
  border: 2px solid;
  line-height: 1.5em;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}

/* Button */
.link-button {
  position: relative;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px 20px;
}
.link-button:visited {
  color: #fff;
}
.link-button:visited:hover,
.link-button:hover {
  color: #D6D6D6;
  border-color: #D6D6D6;
}
.cta {
  border: none;
  background-color: #1BA2F9;
  border-radius: 5px;
  transition: background-color 150ms;
  transition-timing: cubic-bezier(0, 0.65, 0.47, 1.04);
}
.cta:hover {
  background-color: #016DB3;
  color: #D6D6D6;
}

/* Section */
section {
  background: #f3f3f3;
}

/* Intro */
.intro {
  background: url(../img/netflix-back.jpg) no-repeat;
  background-position: left top;
  background-size: cover;
  height: 100vh;
}

.intro .logo {
  margin-top: 4vh;
}
.intro aside {
  position: relative;
  padding-left: 3%;
  width: 440px;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+45,000000+100&0.9+45,1+45,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 45%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 45%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,1) 45%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.intro .vp {
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.intro h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-bottom: 0.5em;
  color: #fff;
  white-space: nowrap;
  text-shadow: 1px 1px 4px #000;
}
.intro h2 {
  font-size: 1.7em;
  line-height: 1.2;
  margin: 0;
  color: #fff;
  font-weight: normal;
  text-shadow: 1px 1px 4px #000;
  margin-bottom: 1.2em;
}

.intro .actions {
  position: absolute;
  top: 6vh;
  right: 4%;
  text-align: right;
}
.intro .install-extension {
  margin-right: 10px;
}

.intro .learn-more {
  color: #fff;
}

/* Benefits */
.benefits {
  height: 500px;
}
